<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>codedamn Project</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <img src='./src/p1.jpeg' class="bgimg">
        <div class="text">
            <h1 class="head">Eye&Sine</h1>
            <p class="para">Convert Your picture into sign Language.</p>
            <input type="image" placeholder="Email Address" class="inputbox">
            
            <button class="button">Sign Up</button>
            <footer class="footer">
                <div class="ico">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-github"></i>
                    <i class="far fa-envelope"></i>
                </div>
                <p class="foot">©Untitled. | Credits: Unsplash + HTML5 UP</p>
            </footer>

        </div>
    </div>
</body>

</html>