<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>Eve&sign</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <img src='./src/p1.jpeg' class="bgimg">
        <div class="text">
            <h1 class="head">Eye&Sine</h1>
            <p class="para">Convert Your picture into sign Language.</p>
            <div>
                {% if image_form %}
                    <form action="" method="post"  enctype="multipart/form-data" class="cnn">
                        {% csrf_token %}
                        {{ image_form }}
                        <input type="submit" value="Upload" class="inputbox">
                    </form>
                {% endif %}
            </div>
        
            <div>
                {% if  result %}
                        {{ result }}
                {% endif %}
            </div>
            
            <footer class="footer">
                <div class="ico">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-github"></i>
                    <i class="far fa-envelope"></i>
                </div>
                <p class="foot">©Untitled. | Credits: Unsplash + HTML5 UP</p>
            </footer>

        </div>
    </div>
</body>

</html>
